body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}
nav {
  font-size: 1.5em;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* @media (min-width: 600px) and (max-width: 800px) {
  h1 {
    color: purple;
  }
} */

/* @media (max-width: 1500px) {
  h1 {
    color: blue;
  }
}

@media (max-width: 1000px) {
  h1 {
    color: green;
  }
}
@media (max-width: 500px) {
  h1 {
    color: red;
  }
} */

h1 {
  color: chartreuse;
}
@media (min-width: 500px) {
  h1 {
    color: rgb(230, 127, 90);
  }
}

@media (min-width: 1000px) {
  h1 {
    color: rgb(0, 255, 208);
  }
}

@media (orientation: landscape) {
  body {
    background-color: rgb(229, 97, 119);
  }
}
