body {
  margin: 0px;
}

h1 {
  background-color: bisque;
  width: 500px;
  padding-left: 50px;
  padding-top: 30px;
  margin: 0px;
}
span {
  margin-left: 80px;
  margin-bottom: 20px;
}
div {
  width: 300px;
  height: 250px;
  /* background-color: rgb(180, 235, 235); */
}

#first {
  background-color: rgb(222, 254, 254);
  border-color: rgb(201, 205, 205);
  border-width: 5px;
  border-style: solid;
  margin-left: 100px;
}

#second {
  background-color: rgb(165, 241, 241);
  border-color: rgb(92, 173, 173);
  border-width: 5px;
  border-style: solid;
  border-left-style: dashed;
  margin: 200px;
  /* box-sizing: border-box; */
}
#third {
  background-color: rgb(82, 237, 237);
  border: 5px solid rgb(58, 83, 83);
  border-left-width: 10px;
  border-radius: 10%;
}

button {
  padding: 10px 20px 30px 40px;
}
