/* this is Universal Selector */
/* * {
  background-color: rgb(199, 249, 249);
} */

body {
  background-color: #8ecae6;
}

/* This is a Element Selector. */
button {
  color: rgb(133, 41, 225);
  background-color: #ffb703;
}

h1,
h2 {
  color: #e5767f;
}

/* This is called Id selector */
#signup {
  background-color: #dda15e;
  color: aqua;
}

span {
  color: #84a98c;
}

/* This is called Class selector */
.tag {
  color: blueviolet;
  background-color: yellow;
  font-size: 19px;
}

/* This is called Descendant Selector
/* span a {
      color: #84a98c;
    } */
.pool a {
  color: #20ef4d;
  text-decoration: none;
}

footer a {
  color: #7f4f24;
}

/* Non-Commmon Selectors */

/* Adjacent Selector */
input + button {
  background-color: pink;
}
/* h2 + button {
  background-color: aquamarine;
  font-size: 20px;
} */

/* Direct Child Selector */
footer > a {
  color: rgb(89, 197, 89);
}
/* *********************************************************************************** */

/* Attribute Selector */
input[type="password"] {
  color: #ffb703;
}

/* section[class="pool"] {
  background-color: #fb6f92;
} */

a[href*="Help"] {
  color: rgb(241, 237, 102);
  font: weight 19px;
}

/* Pseudo Classs */
.pool button:hover {
  color: #ff877a;
  background-color: #0774a7;
  font-size: 12px;
}

a:hover {
  color: #79ea90;
}

.pool button:active {
  background-color: #b5e661;
}

.pool:nth-of-type(2n) {
  background-color: #3f9cc7;
}

h2::first-letter {
  color: #100a0c;
  font-size: 40px;
}

p::first-line {
  color: purple;
}

p::selection {
  background-color: #d2df92;
}

/* CSS Cascade -Sequence of Styling Matters  */
h1,
h2 {
  color: #fca311;
}
