/* html {
  font-size: 40px;
} */

section {
  background-color: rgb(73, 73, 240);
  width: 800px;
  height: 800px;
}
div {
  background-color: rgb(81, 170, 234);
  width: 70%;
  height: 50%;
}

#first h1 {
  /* background-color: aquamarine; */
  font-size: 40px;
  border: 5px solid black;
  line-height: 200%;
}

#first article {
  font-size: 20px;
}

/* #first h2 {
  font-size: 2em;
} */

#first h3 {
  font-size: 4em;
}

#first p {
  font-size: 1.2em;
}
#first button {
  font-size: 2em;
  background-color: rgb(70, 193, 218);
  border: 2px solid black;
  border-radius: 1em;
  padding: 0em 2em;
}
#first ul {
  font-size: 1.5em;
}

#second h1 {
  /* background-color: aquamarine; */
  font-size: 1.7remx;
  border: 5px solid black;
  line-height: 200%;
}

#second article {
  font-size: 20px;
}

#second h2 {
  font-size: 2rem;
}

#second h3 {
  font-size: 4rem;
}

#second p {
  font-size: 1.2em;
}
#second button {
  font-size: 2em;
  background-color: rgb(70, 193, 218);
  border: 2px solid black;
  border-radius: 1em;
  padding: 0em 2em;
}

#second ul {
  font-size: 2rem;
}
